* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: #fefefe;
    font-family: "Spartan", sans-serif;
    color: #545454;
}

.XO {
    box-shadow: 0px 0px 30px #ccc;
    width: 550px;
    height: 550px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.row {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

button {
    font: inherit;
    color: inherit;
    background: #fefefe;
    border: 2px solid #545454;
    border-radius: 4px;
    padding: 5px 15px;
    transition: 300ms ease-in-out;
    transition-property: color, border-color, font-weight;
}

button:hover {
    border-color: #0ca192;
    color: #0ca192;
    font-weight: bolder;
}

.turn {
    font-size: 16px;
}

.boxes {
    display: flex;
    flex-flow: row wrap;
    width: 550px;
    height: 420px;
    background-color: #14bdac;
    border-radius: 3px;
}

.box {
    width: 33.333%;
    height: 33.333%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 600;
    cursor: pointer;
}

.b0 {
    border-right: 7px solid #0ca192;
    border-bottom: 7px solid #0ca192;
}

.b1 {
    border-bottom: 7px solid #0ca192;
}

.b2 {
    border-left: 7px solid #0ca192;
    border-bottom: 7px solid #0ca192;
}

.b3 {
    border-right: 7px solid #0ca192;
    border-bottom: 7px solid #0ca192;
}

.b4 {
    border-bottom: 7px solid #0ca192;
}

.b5 {
    border-bottom: 7px solid #0ca192;
    border-left: 7px solid #0ca192;
}

.b6 {
    border-right: 7px solid #0ca192;
}

.b8 {
    border-left: 7px solid #0ca192;
}

.won {
    color: lightgoldenrodyellow;
}