body {
  margin: 3rem;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
  font-weight: 400;
  color: #333;
}

.row {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input {
  display: block;
  outline: none;
  border: 1px solid #3e3e3e;
  border-radius: 4px;
  padding: 8px 5px;
  font: inherit;
}

button {
  background-color: #fff;
  border: 1px solid #3e3e3e;
  border-radius: 4px;
  padding: 8px 16px;
  font: inherit;
}

.helperText {
  font-size: 14px;
}

.warning {
  color: #ff0052;
}

.success {
  color: #00ff55;
  font-size: 16px;
}
