body {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-image: url("asset/bg.jpeg");
    background-position: center;
    background-size: cover;
}

.draggableItem {
    width: 450px;
    height: 350px;
    background-color: #ccc;
    opacity: 0.8;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

.bar {
    width: 440px;
    height: 35px;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px 1px 2px #bbb;
    background-color: #eee;
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 10px;
}

.ball {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    box-shadow: 1px 1px 2px #ccc;
}

.red {
    background: red;
}

.green {
    background: green;
}

.orange {
    background: orange;
}