* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Spartan", sans-serif;
    background: #454545;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.analogClock {
    box-shadow: 0px 0px 10px rgba(110, 110, 110, 0.8);
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position: absolute;
}

.dot {
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #bbb;
}

.smallDot {
    width: 5px;
    height: 5px;
}

.bigDot {
    width: 9px;
    height: 9px;
}

.time {
    position: absolute;
    transform: translate(-50%, -50%);
    margin-top: 2px;
    font-weight: bolder;
    font-size: 22px;
    color: #a7a7a7;
}

.hand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
    border-radius: 5px;
}

.hourHand {
    width: 150px;
    height: 8px;
    background: #bbb;
}

.minuteHand {
    width: 180px;
    height: 5px;
    background: #bbb;
    opacity: 0.5;
}

.secondHand {
    width: 190px;
    height: 2px;
    background: #a38f1c;
}

.middleDOt {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: #bbb;
    width: 15px;
    height: 15px;
}