body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
    font-weight: 400;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border-radius: 4px;
    border: none;
    font-family: inherit;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

.title {
    text-align: center;
    margin-bottom: 5px;
    color: #7e7e7e;
}

.header {
    color: #3e3e3e;
    margin: 15px;
}

.header::after {
    content: "";
    border: 2px solid #ee7470;
    display: block;
    width: 150px;
    margin: 5px;
    position: absolute;
    transform: translateX(50%);
}

.container {
    display: grid;
    width: 95%;
    margin: 40px auto;
    grid-template-columns: repeat(10, 1fr);
    gap: 0px;
    justify-items: start;
    border-radius: 5px;
    box-shadow: -2px -2px 5px #aaa;
}


/**----------------------For All Days------------**/

.day {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    border-radius: 3px;
}


/**-----------DAY ONE--------------------------**/

.btn1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    border: none;
    background-color: #447ce7;
    color: #f2f4ff;
    font-size: 17px;
    height: 70px;
    width: 178px;
    font-size: 20px;
    transition: 200ms ease-in-out;
    transition-property: color, background-color, boder;
}

.btn1:hover {
    background-color: #f2f4ff;
    color: #447ce7;
    border: 2px solid #447ce7;
}


/**-----------DAY TWO--------------------------**/

.dayTwo {
    background-color: transparent;
    display: flex;
    justify-content: center;
}

.dayTwo .btn2 {
    border: 2px solid #153a5b;
    color: #153a5b;
    background-color: #fefefe;
    font-weight: bold;
    transition: background-color color 200s ease-in-out;
    height: 68px;
    width: 130px;
}

.dayTwo .btn2:hover {
    color: #fff;
    background-color: #153a5b;
}


/**-----------DAY THREE----------------------------**/

.dayThree .btn3 {
    border: 2px solid #d3959b;
    color: #d3959b;
    background-color: #fefefe;
    font-weight: bold;
    transition: background-color color 200s ease-in-out;
    height: 68px;
    width: 130px;
}

.dayThree .btn3:hover {
    color: #fefefe;
    background-color: #d3959b;
}


/**-----------DAY FOUR-------------------------**/

.dayFour {
    width: 200px;
}

.rate {
    border-radius: 10px;
    color: #fefefe;
    background: #050506;
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.star span {
    color: #ebebeb;
}

.dayFour .btn4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    color: inherit;
    background: transparent;
    width: 175px;
    height: 65px;
}

.count {
    text-align: right;
    width: 45px;
    font-size: 28px;
    font-weight: bolder;
    color: #ebebeb;
}

.count::before {
    content: "";
    display: block;
    position: absolute;
    background: #5c5c5c;
    width: 2px;
    height: 63px;
    transform: translate(-50%, -25%);
}

.btn4:hover .star span {
    color: #ffd700;
    animation: spin 1.3s linear;
    animation-fill-mode: forwards;
}

.flyingStar {
    color: #ffd700;
    transform-origin: 80px 50%;
    animation: flying 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes flying {
    0% {
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ(-180deg);
    }
    100% {
        transform: rotateZ(-360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }
    16.6667% {
        transform: rotateY(60deg);
    }
    33.3333% {
        transform: rotateY(120deg);
    }
    50.0001% {
        transform: rotateY(180deg);
    }
    66.3338% {
        transform: rotateY(240deg);
    }
    83.3333% {
        transform: rotateY(300deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}


/**---------------------Day Five----------------*/

.btn5 {
    width: 175px;
    height: 65px;
    background: linear-gradient(to right, #e47070, #bbf0b8, #78b4e6);
    color: #3e3e3e;
    font-weight: bolder;
}


/**-------------RESPONSIVE------------------*/

@media (max-width: 48.125em) {
    .container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 40.625em) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 33.125em) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}