:root {
    --primary-color: #5856d6;
    --secondary-color: #bbb;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
}

.fa {
    font-size: 13px;
}

.container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.container section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {
    display: none;
    width: 0;
    height: 0;
}

span {
    color: var(--secondary-color);
    font-size: 20px;
}


/*-----------CHECKBOX------------------*/

.wrapper {
    display: flex;
    gap: 15px;
    align-items: center;
}

.checkbox {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: border-color 0.2s ease-in-out;
}


/*---------------SIMPLE-------------------*/

.simple .tick {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.simple .tick:hover {
    border-color: var(--primary-color);
}

.simple .tick i {
    display: none;
    transition: all 0.1s ease-in-out;
}

.simple .sCh:checked+.tick {
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.sCh:checked+.tick i {
    display: block;
    color: #eee;
}


/*---------------FLIPPING-------------------*/

.flipping {
    cursor: pointer;
}

.flipped {
    width: 30px;
    height: 30px;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

.flipping .tick {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease-in-out;
    transition-property: color, display;
}

.flipping .fCh:checked+.flipped {
    background: var(--primary-color);
    border-color: var(--primary-color);
    transform: rotateY(180deg);
}

.flipping .fCh:checked~.tick {
    display: flex;
    color: #eee;
}


/*-----------SWITCH--------------*/

.switchWrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}

.ballContainer {
    display: flex;
    align-items: center;
    border: 2px solid var(--secondary-color);
    width: 60px;
    height: 30px;
    border-radius: 15px;
    padding: 2px;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
}

.ballContainer:hover {
    border-color: var(--primary-color);
}

.ball {
    position: relative;
    padding: 0;
    margin: 0;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    transition: 0.4s ease-in-out;
    transition-property: transform, background-color;
}


/*-----------SWITCH: Simple--------------*/

.simpleSwitch .swCh:checked+.ballContainer {
    border: none;
    background-color: var(--primary-color);
}

.simpleSwitch .swCh:checked+.ballContainer .ball {
    background-color: #eee;
    transform: translateX(150%);
}


/*-----------SWITCH: Smiley--------------*/

.smileySwitch .syCh:checked+.ballContainer {
    border: none;
    background-color: var(--primary-color);
}

.smileySwitch .ballContainer .ball svg :is(circle, path) {
    transition: all 0.3s ease-in-out;
}

.smileySwitch .syCh:checked+.ballContainer .ball {
    background-color: #eee;
    transform: translateX(150%);
}

.smileySwitch .syCh:checked+.ballContainer .ball svg circle {
    fill: var(--primary-color);
}

.smileySwitch .syCh:checked+.ballContainer .ball svg path {
    stroke: var(--primary-color);
    d: path("M25,70 Q50,90,75,70");
}


/*-------------------LINE Switch------------------------*/

.lineSwitchContainer {
    display: flex;
    align-items: center;
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31px;
    height: 32px;
    background: #333;
    transition: all 0.3s ease-in-out;
}

.outerBall {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.outerBall:hover {
    background-color: var(--primary-color);
}

.innerBall {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #333;
    transition: background-color 0.3s ease-in-out;
}

.line {
    width: 37px;
    height: 5px;
    background-color: var(--secondary-color);
    border-radius: 0 2px 2px 0;
    transition: 0.3s ease-in-out;
    transition-property: background-color, border-radius;
}

.lineSwitch .lCh:checked+.lineSwitchContainer .square {
    transform: translateX(155%);
}

.lineSwitch .lCh:checked+.lineSwitchContainer .line {
    background-color: #eee;
    border-radius: 2px 0 0 2px;
}

.lineSwitch .lCh:checked+.lineSwitchContainer .square :is(.outerBall, .innerBall) {
    background-color: var(--primary-color);
}